*{
    margin: 0;
}
canvas{
    display: none;
    background: rgb(254,63,0);
    background: linear-gradient(125deg, rgba(254,63,0,1) 13%, rgba(246,105,10,1) 29%, rgba(213,111,16,1) 47%, rgba(247,145,0,1) 68%, rgba(255,179,0,1) 86%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*Instructions*/
img.intro-background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -12;
}
div.intro-screen{
    position: absolute;
    background-color: #ff3333a9;
    border-radius: 30px;
    width: 50%;
    height: 510px;
    color:white;
    top: 8%;
    left: 25%;
}
div.intro-screen p.intro-title{
    position: absolute;
    color: #fac000;
    text-shadow: 0 0 15px black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    top: 5%;
    left: 0%;
}
div.intro-screen p.intro-body{
    position: absolute;
    color: whitesmoke;
    text-shadow: 0 0 15px black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 91%;
    top: 15%;
    left: 4.5%;
}
img.ins-img-1{
    position: absolute;
    width: 345px;
    height: 200px;
    border-radius: 20px;
    top: 41%;
    left: 25%;
}
button.play-btn{
    position: absolute;
    padding: 10px 60px;
    top: 84%;
    left: 36.5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 35px;
    color: whitesmoke;
    background-color: #FF3333;
    border: 10px groove #E60000;
    outline: none;
    cursor: pointer;
}
button.play-btn:hover{
    background-color: #FF8080;
    transition: 0.5s;
}
a.exit-btn{
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 10px;
    text-decoration: none;
    background-color: #FF3333;
    border: 10px groove #E60000;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 7%;
    cursor: pointer;
}
a.exit-btn:hover{
    background-color: #FF8080;
    transition: 0.5s;
}